.static {
  position: static
}

.fixed {
  position: fixed
}

.absolute {
  position: absolute
}

.relative {
  position: relative
}

.right-5 {
  right: 1.25rem
}

.top-6 {
  top: 1.5rem
}

.z-10 {
  z-index: 10
}

.m-0 {
  margin: 0px
}

.my-2 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem
}

.mx-auto {
  margin-left: auto;
  margin-right: auto
}

.mx-4 {
  margin-left: 1rem;
  margin-right: 1rem
}

.mx-0 {
  margin-left: 0px;
  margin-right: 0px
}

.my-0 {
  margin-top: 0px;
  margin-bottom: 0px
}

.-mt-3 {
  margin-top: -0.75rem
}

.mt-5 {
  margin-top: 1.25rem
}

.ml-2 {
  margin-left: 0.5rem
}

.mt-2 {
  margin-top: 0.5rem
}

.mt-6 {
  margin-top: 1.5rem
}

.block {
  display: block
}

.inline {
  display: inline
}

.flex {
  display: flex
}

.hidden {
  display: none
}

.h-64 {
  height: 16rem
}

.h-full {
  height: 100%
}

.w-full {
  width: 100%
}

.w-24 {
  width: 6rem
}

.flex-row {
  flex-direction: row
}

.items-start {
  align-items: flex-start
}

.items-end {
  align-items: flex-end
}

.items-center {
  align-items: center
}

.justify-between {
  justify-content: space-between
}

.self-center {
  align-self: center
}

.rounded-lg {
  border-radius: 0.5rem
}

.rounded-none {
  border-radius: 0px
}

.rounded {
  border-radius: 0.25rem
}

.border {
  border-width: 1px
}

.border-y-0 {
  border-top-width: 0px;
  border-bottom-width: 0px
}

.border-b {
  border-bottom-width: 1px
}

.bg-blue {
  --tw-bg-opacity: 1;
  background-color: rgb(89 193 204 / var(--tw-bg-opacity))
}

.bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity))
}

.p-5 {
  padding: 1.25rem
}

.p-4 {
  padding: 1rem
}

.p-1 {
  padding: 0.25rem
}

.p-2 {
  padding: 0.5rem
}

.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem
}

.px-5 {
  padding-left: 1.25rem;
  padding-right: 1.25rem
}

.py-6 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem
}

.pb-5 {
  padding-bottom: 1.25rem
}

.pl-1 {
  padding-left: 0.25rem
}

.pr-2 {
  padding-right: 0.5rem
}

.text-center {
  text-align: center
}

.font-poppins-700 {
  font-family: Poppins-Bold
}

.font-poppins-400 {
  font-family: Poppins-Regular
}

.font-poppins-600 {
  font-family: Poppins-SemiBold
}

.text-xs {
  font-size: 0.75rem;
  line-height: 1rem
}

.text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem
}

.text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem
}

.text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem
}

.uppercase {
  text-transform: uppercase
}

.capitalize {
  text-transform: capitalize
}

.italic {
  font-style: italic
}

.text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity))
}

.text-black {
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity))
}

.text-gray-400 {
  --tw-text-opacity: 1;
  color: rgb(156 163 175 / var(--tw-text-opacity))
}

.text-gray-500 {
  --tw-text-opacity: 1;
  color: rgb(107 114 128 / var(--tw-text-opacity))
}

.text-blue {
  --tw-text-opacity: 1;
  color: rgb(89 193 204 / var(--tw-text-opacity))
}

.text-red-500 {
  --tw-text-opacity: 1;
  color: rgb(239 68 68 / var(--tw-text-opacity))
}
