.static {
  position: static
}

.fixed {
  position: fixed
}

.absolute {
  position: absolute
}

.relative {
  position: relative
}

.m-1 {
  margin: 0.25rem
}

.m-2 {
  margin: 0.5rem
}

.mt-1 {
  margin-top: 0.25rem
}

.mt-2 {
  margin-top: 0.5rem
}

.block {
  display: block
}

.inline {
  display: inline
}

.flex {
  display: flex
}

.hidden {
  display: none
}

.h-64 {
  height: 16rem
}

.w-full {
  width: 100%
}

.content-center {
  align-content: center
}

.items-center {
  align-items: center
}

.self-center {
  align-self: center
}

.rounded {
  border-radius: 0.25rem
}

.rounded-r {
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem
}

.rounded-l {
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem
}

.border {
  border-width: 1px
}

.border-y-0 {
  border-top-width: 0px;
  border-bottom-width: 0px
}

.bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity))
}

.p-1 {
  padding: 0.25rem
}

.p-2 {
  padding: 0.5rem
}

.font-poppins-400 {
  font-family: Poppins-Regular
}

.font-poppins-700 {
  font-family: Poppins-Bold
}

.font-poppins-600 {
  font-family: Poppins-SemiBold
}

.text-base {
  font-size: 1rem;
  line-height: 1.5rem
}

.uppercase {
  text-transform: uppercase
}

.capitalize {
  text-transform: capitalize
}

.text-blue-600 {
  --tw-text-opacity: 1;
  color: rgb(37 99 235 / var(--tw-text-opacity))
}

.text-red-500 {
  --tw-text-opacity: 1;
  color: rgb(239 68 68 / var(--tw-text-opacity))
}
